.App {
  text-align: center;
  padding: 20px;
  background-color: #28e98c;

}

.personal-info {
  margin-top: 20px;
  padding: 10px;
  border-top: 1px solid #ddd;
  text-align: center;
}

.personal-info h2 {
  margin: 0;
  padding-bottom: 5px;
}

.personal-info p, .personal-info a {
  margin: 5px 0;
}
